| Single-line comment

|- Multi-line
   comments? I'm not crazy about them
-|

| Each file has a config section where they can optionally override defaults
begin config
weighted: false
directed: false
edgelabel: false
vertexlabel: false
end


| We can represent single edges like so
A -> B


| Or for more intricate graphs, a vertex can have edges like so
| Vertex(, Label) ::
| _ Vertex(, Weight)(, Label)
A ::
_ -> C
_ -> P


| Note that in the previous example, :: stores the left-hand vertex in the vvariable _ by default so we can easily recall it.
| Additionally we can define other vetexes as variables in case users would organize their file differently, like so:

B :: expression
C :: term
F :: factor

expression -> term
term -> factor
expression -> factor
